
<div class="container-fluid">
  <h1 class="text-center mb-4">BILLETTERIE</h1>

  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Offre Solo</h5>
          <p class="card-text">1 billet pour une personne, un sport au choix, une épreuve au choix</p>
          <a routerLink="/ticketing/solo" class="btn btn-primary">Acheter</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Offre Duo</h5>
          <p class="card-text">2 billets pour 2 personnes, un sport au choix, une épreuve au choix</p>
          <a routerLink="/ticketing/duo" class="btn btn-primary">Acheter</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Offre Famille</h5>
          <p class="card-text">4 billets pour 4 personnes, un sport au choix, une épreuve au choix</p>
          <a routerLink="/ticketing/family" class="btn btn-primary">Acheter</a>
        </div>
      </div>
    </div>
  </div>

<hr>

  <div class="container mt-4">
    <div class="row">
      <div class="col text-center ">
        <h2 class="mb-4">Choix par sport</h2>
        <div>Rechercher un sport</div>
        <input type="text" placeholder="course, football, équitation...">
        <button class="btn btn-primary" >Rechercher</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card mt-4">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
        </div>
      </div>
    </div>

  </div>

</div>
