<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 sidebar-custom">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto">
                <div class="col pt-4">
                    <h3 class="text-center">Modification de vos informations personnelles</h3>
                    <a routerLink="/userdashboard" type="button" class="btn btn-primary my-3">Retour</a>
                    <p>Formulaire pour modifier</p>
                </div>
            </main>
        </div>
    </div>
</div>
