<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2 mt-4">
    <label><h4>Recherche par sport</h4></label>
    <input placeholder="Saisir ici le sport à rechercher" type="text" class="form-control" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
  </div>
</form>
<div>
  <table class="table table-striped table-bordered">
    <thead class="table-light">
      <tr>
        <th>Sport</th>
        <th>Places</th>
        <th>Prix</th>
        <th colspan="2" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let sport of sports">
      <tr>
        <td>{{ sport.name }}</td>
        <td>{{ sport.nbSeat }}</td>
        <td>{{ sport.price }} €</td>
        <td>
          <button class="btn btn-success" (click)="addToCart(sport)">
            Ajouter au panier
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <a type="button" class="btn btn-success" routerLink="/cart"
    >Accéder au panier</a
  >

  <div class="mt-4 mb-4">
    <h5>Récapitulatif panier</h5>
    <table class="table-sm table-striped table-bordered">
      <thead class="table-light">
        <tr>
          <th>Montant total panier</th>
          <th>Nombre de Places</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ totalFromService }} €</td>
          <td>{{ totalSeatFromService}} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="addMessage == 1" class="alert alert-success" role="alert">
    {{ message }}
  </div>
</div>
