<h1>Accueil panneau d'administration</h1>
<main class="container">
    <section class="d-flex justify-content-around flex-wrap">

        <a href="#" class="text-decoration-none">
            <div class="card mt-2" style="width: 18rem;">
                <div class="card-body text-align">
                    <img src="" class="rounded mx-auto d-block align-middle" width="40" alt="contact">
                    <h5 class="card-title text-center mt-2">
                        Administration du site
                    </h5>
                </div>
            </div>
        </a>

        <a href="#" class="text-decoration-none">
            <div class="card mt-2" style="width: 18rem;">
                <div class="card-body text-align">
                    <img src="" class="rounded mx-auto d-block align-middle"  width="40" alt="carte">
                    <h5 class="card-title text-center mt-2">
                        Clients
                    </h5>
                </div>
            </div>
        </a>

        <a href="#" class="text-decoration-none">
            <div class="card mt-2" style="width: 18rem;">
                <div class="card-body text-align">
                    <img src="" class="rounded mx-auto d-block align-middle" width="40" alt="menu">
                    <h5 class="card-title text-center mt-2">
                        Statistiques
                    </h5>
                </div>
            </div>
        </a>

        <a href="#" class="text-decoration-none">
            <div class="card mt-2" style="width: 18rem;">
                <div class="card-body text-align">
                    <img src="" class="rounded mx-auto d-block align-middle" width="40" alt="fomrule">
                    <h5 class="card-title text-center mt-2">
                        Réservations
                    </h5>
                </div>
            </div>
        </a>

        <a href="#" class="text-decoration-none">
            <div class="card mt-2" style="width: 18rem;">
                <div class="card-body text-align">
                    <img src="" class="rounded mx-auto d-block align-middle" width="40" alt="fomrule">
                    <h5 class="card-title text-center mt-2">
                        autres....
                    </h5>
                </div>
            </div>
        </a>


